.body{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0f2656;
}
/* header start */
header{
    border-bottom: 3px solid #f2f3f5;
    padding: 15px 0;
}
.container{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
.logo {float: left;
    width: 10%;
    
}
.logo a {
    display: block;
}
.logo a img {
    width: 100%;
}

.menu {
   
    float: right;
    width: 60%;
    
}
.menu ul {
    float: right;
}
.menu ul li {
    float: left;
    list-style: none;
}
.menu ul li a {
    padding: 0 15px;
    text-decoration: none;
    display: inline-block;
    color: #0f2656;
}
.menu ul li a:hover {
    color: #1493ff;
}
.menu ul li:last-child a{
    padding-right: 0 ;
}
/* header end */
/* banner start  */

.banner {
    padding: 60px 0;

}
.container2 {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
   
}
.t_center {
    text-align: center;
}
.b_h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
}

.b_h1 span{
    color: #1493ff;
}
/* banner end */
/* topic start */
.about {
    padding-bottom: 60px;
} 
.a_left{
    float: left;
    width: 40%;
   
    text-align: right ;
   
}
.a_left h2 {
    font-size: 41px;
    font-weight: 700;
    color: #f15767 ;
    margin: 0; 
}
.a_left p{
    font-size: 16px;
    margin: 5px 0 0;

}
.a_right{
    float: right;
    width: 55%;
    
}
.a_right h1{
    font-size: 50px;
    font-weight: 600;
    margin: 0;

}
/* topic end */
/* service start */
.service{
    padding-bottom: 60px;
}
.s_item{
    float: left;
    width: 27%;
    padding: 40px 2.1% 50px;
    margin-right: 3%;
}
.red{
    background-color: #fdebed;
}
.green{
    background-color: #ebf9f4;
}
.yellow{
    background-color: #fff7e8;
    margin-right: 0 ;
}
.s_item img{
    width: 100%;
}
.s_h2{
    margin: 15px 0;
    font-size: 20px;
    font-weight: 700;
}
.s_p{
    margin: 0;
    line-height: 25px;
}

/* service end  */
/* footer start  */
.footer1{
    padding: 30px 0;
    text-align: center;
    width: 100%;
    background-color: #1493ff;
}
.footer2{
    
    margin: 0;
    color: white;
}
.footer2 a{
    color: white;
    text-decoration: none;
}
/* footer end  */